.dropdown {
  //mobile styles
  margin-top: 2.5rem;
  @include font-size(12);

  //desktop styles
  @include respond-above(md) {
    margin: 0;
    @include font-size(14);
    @include line-height(20);
  }

  .dropdown-toggle {
    width: 12.5rem;
    height: 3rem;
    padding: 0.875rem;
    padding-left: 1.5rem;
    outline: none;
    border: none;
    box-shadow: 0px 0.125rem 0.5625rem rgba(0, 0, 0, 0.0532439);
    border-radius: 0.3125rem;
    text-align: left;
    @include line-height(20);
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      @include font-size(12.5);
      font-style: oblique;
    }

    @include respond-above(md) {
      &:hover {
        @include font-size(14.5);
      }
    }

    .chevron-icon {
      width: 0.625rem;
      height: 0.625rem;
    }

    @include respond-above(lg) {
      height: 3.5rem;
    }
  }

  .dropdown-menu {
    position: absolute;
    width: 200px;
    margin-top: 4px;
    padding: 1rem;
    padding-left: 24px;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
    border-radius: 5px;
    text-align: left;
    @include line-height(22);
    cursor: pointer;

    @include respond-above(md) {
      @include line-height(38);
    }

    .dropdown-item {
      width: 100%;
      height: 38px;
      padding: 0;
      margin: 0;
      border: none;
      text-align: left;
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        @include font-size(12.5);
        font-style: oblique;
      }

      @include respond-above(md) {
        &:hover {
          @include font-size(14.5);
        }
      }
    }
  }
}
