:root {
  --size: 60px;
}

.search {
  max-width: 30rem;
  border: 2px solid var(--clr-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3125rem;
  //border-radius: 100px;
  overflow: hidden;
  font-size: 1.25em;
  position: relative;
  width: var(--size);
  height: var(--size);
  transition: width 450ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  padding: 6px;

  // override default placeholder text
  ::placeholder,
  :-ms-input-placeholder,
  ::-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    /* Internet Explorer 10-11 */
    /* Microsoft Edge */
    //color: #848484;
    font-family: "Nunito Sans", sans-serif;
    @include font-size(14);
    @include line-height(20);
    opacity: 1; /* Firefox */
  }
}

.search-input {
  border: 0;
  padding: 0.25em 1em;
  flex-grow: 1;
  outline: 0;
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: transparent;
  opacity: 0;
  cursor: pointer;
}

.search-btn {
  font-size: 1.5rem;
  margin-left: auto;
  background: 0;
  border: 0;
  cursor: pointer;
  border-radius: 0.3125rem;
  //border-radius: 50%;
  transition: background 200ms ease-out;
  width: calc(var(--size) - 10px);
  height: calc(var(--size) - 10px);
}

.search:focus-within {
  width: 100%;

  .search-input {
    opacity: 1;
    z-index: initial;
    cursor: initial;
    width: calc(100% - var(--size));
  }

  .search-btn {
    background: var(--clr-primary);

    &:hover,
    &:focus {
      outline: 0;
    }
  }
}
