html {
  font-size: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: block;
  position: relative;
  font-family: "Nunito Sans", sans-serif;
  background: #f2f2f2;
  background-repeat: no-repeat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5625rem;
  padding: 0;
  margin: 0;

  color: $black;

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }
}

.container {
  margin: 0px 16px;
  max-width: 1200px;

  @include respond-above(lg) {
    margin: auto;
  }
}

// Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

// Visibility
.hide-for-mobile {
  @include respond-below(sm) {
    display: none;
  }
}

.hide-for-desktop {
  @include respond-above(sm) {
    display: none;
  }
}
