.grid-squares {
  //mobile styles
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-row-gap: 2.5rem;
  margin: 2rem 0;

  @include respond-above(sm) {
    grid-template-columns: auto auto;
    grid-column-gap: 5vh;
    grid-row-gap: 5vh;
  }

  @include respond-above(lg) {
    grid-template-columns: auto auto auto;
    grid-column-gap: 5vh;
    grid-row-gap: 5vh;
    margin-bottom: 4.0625rem;
  }

  @include respond-above(xxl) {
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
  }
}
