.pagination-btns-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
  height: 4rem;

  @include respond-above(sm) {
    margin-left: auto;
    margin-right: auto;
  }
}

.btn {
  //background-color: $white;
  border-radius: 100%;
  font-size: 0.9rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn.next,
.btn.prev {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  font-size: 2.8rem;
  border: none;
}

.active {
  width: 4rem;
  height: 4rem;
}
