.search-and-dropdown-row {
  //mobile styles
  display: block;
  width: 100%;

  //desktop styles
  @include respond-above(lg) {
    display: flex;
    justify-content: space-between;
    max-height: 56px;
    align-items: center;
    margin: 45px 0px;
    margin-left: auto;
    margin-right: auto;
  }
}
