.single-country-page {
  margin: 0px 28px;
  max-width: 1440px;

  @include respond-above(xxl) {
    margin-left: auto;
    margin-right: auto;
  }

  .back-button {
    margin-bottom: 24px;
    padding: 6px 24px;
    border: none;
    text-align: left;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
    border-radius: 2px;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .page-container {
    @include respond-above(xl) {
      display: grid;
      grid-template-columns: auto auto;
      align-items: center;
      grid-gap: 5vw;
    }

    @include respond-above(xl) {
      grid-gap: 10vw;
    }

    .country-flag {
      margin: 44px 0;
      border-radius: 5px;
      width: 100%;
      max-width: 560px;
    }

    .country-stats-groups {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      grid-template-areas:
        "top top"
        "topLeft  topRight"
        "bottom  bottom";

      @include respond-below(sm) {
        .grid-area-1,
        .grid-area-2,
        .grid-area-3,
        .grid-area-4 {
          margin-bottom: 32px;
        }
      }

      .grid-area-1 {
        grid-area: top;
      }
      .grid-area-2 {
        grid-area: topLeft;
        margin-bottom: 34px;
      }
      .grid-area-3 {
        grid-area: topRight;
        margin-bottom: auto;
      }
      .grid-area-4 {
        grid-area: bottom;

        .border-countries-label {
          @include font-size(16);
          @include line-height(24);
          margin-bottom: 1rem;
          margin-right: 1rem;
        }

        .border-countries-btns {
          display: flex;
          flex-wrap: wrap;
          .border-country-btn {
            width: 96px;
            height: 26px;
            margin-right: 10px;
            margin-bottom: 10px;
            border: none;
            border-radius: 2px;
            text-align: center;
            font-weight: 300;
            transition: all 0.3s ease;
            cursor: pointer;
          }
        }
      }

      .country-name {
        margin: 0;
        margin-top: 44px;
        margin-bottom: 16px;
      }

      p {
        @include line-height(32);
        margin: 0;
      }
    }
  }
}
